@media screen and (max-width: 1200px){
  .desktop-nav{
    display: none;
  }
  #hamburger-nav{
    display: flex;
  }
}
@media (max-width: 768px) {
  .about-screen {
    flex-direction: column;
    align-items: center;
  }
  .about-me {
    font-size: 2vh; 
    padding: 15px; 
  }

  .pic, .about-me {
    max-width: 100%; 
    margin: 0 auto;
  }
  .text1, .text2, .text3 {
    font-size: 12vw;
  }
  .background-Image {
    top: 10vh;
  }
}

@media (max-width: 480px) {
  .text1, .text2, .text3 {
    font-size: 15.5vw;
  }
  .text-wrapper { top: 24vh; }
  .text-wrapper1 { top: 32vh; }
  .text-wrapper2 { top: 40vh; }
  .bg-container{
    max-height: 75vh;
  }
  .background-Image{
    height: auto;
  max-width: 50vh;
  }
  .logo{
    font-size: 1.5rem;
  }

  .about-me {
    font-size: 1.8vh;
    padding: 10px;
  }
  .container h3{
    font-size: 4vw;
 
  }
  .container h1{
    font-size: 6vw;
    
  }
  
.tranding-slider-control .slider-arrow {
  background: #2f2d2760;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

  
}


@media (max-width:1440px) {
  #tranding {
    padding: 7rem 0;
  }
}


@media (max-width:500px) {
  .tranding-slide .tranding-slide-img img {
    width: 37rem;
    height: 38rem;
    }
    #tranding .tranding-slider {
    height: 45rem;
    }
}


@media (max-width:990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

/* For screens smaller than 1200px */
@media screen and (max-width: 1200px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .contact-form {
    width: 90%;
    margin-bottom: 20px;
  }
  
  .contact-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;  /* This will allow the icons to wrap if needed */
  }
}

/* For screens smaller than 768px */
@media (max-width: 768px) {
  .contact-form {
    width: 100%;
    font-size: 1.2rem;
  }
  
  .contact-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;  /* Ensure icons stay in a row but wrap if needed */
  }

  .contact-icon {
    margin: 10px 0;
    font-size: 1.5rem;
  }

  .contact-icons i {
    font-size: 2rem;
  }

  .contact-form input, .contact-form textarea {
    font-size: 1rem;
    padding: 10px;
  }
}

/* For screens smaller than 480px */
@media (max-width: 480px) {
  .contact-form input, .contact-form textarea {
    font-size: 1rem;
    padding: 12px;
  }

  .contact-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;  /* Ensures icons stay in a row */
  }
  
  .contact-icon {
    margin: 5px;
  }

  .contact-icon span {
    display: none;  /* Hide text on smaller screens */
  }

  .contact-icons i {
    font-size: 2rem;
  }

  .contact-container h2 {
    font-size: 1.5rem;
  }
}

