*{
  border: red;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url('Pics/BG.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  
}

@font-face {
  font-family: 'RR'; 
  src: url('font/Recoleta-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'RN'; 
  src: url('font/Recoleta-Regular.otf') format('truetype');
}

/* Container styles */
.bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  position: relative;
}

.background-Image {
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
  max-width: 103vh;
  align-items: center;
  animation: zoom 2s;
}

/* Text wrapper for each line */
.text-wrapper, .text-wrapper1, .text-wrapper2 {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: auto;
}

.text-wrapper { top: 10vh; }
.text-wrapper1 { top: 25vh; }
.text-wrapper2 { top: 40vh; }


.text1, .text2, .text3 {
  font-family: 'RR';
  font-size: 10vw; 
  white-space: nowrap;
  animation: slideUp 2s ease forwards;
}

.text1 {
  color: #006c3f;
}

.text2 {
  color: transparent;
  -webkit-text-stroke: 0.3vw #958d81; 
}

.text3 {
  color: #2f2d27;
}


.text1, .text2, .text3:hover {
  cursor: default;
}

.desktop-nav {
  gap: 100px;
}

nav, .nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 9vh;
  position: sticky;
  animation: slideDown 3s;
  background-color: #f0d9d9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  border-radius: 30px;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1rem;
}


.nav{
  display: block;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.logo {
  font-size: 2rem;
  cursor: default;
  color: #2f2d27;
}

a:hover {
  cursor: pointer;
}

.button1, .button2, .button3, .button4 {
  display: inline-flex;
  font-family: 'RN';
  color: #2f2d27;
  text-decoration: none;
  cursor: pointer;
  margin: 0 3vh;
}

.button5 {
  text-decoration: none;
  background-color: #958d81;
  padding: 8px;
  border-radius: 60px;
  color: #f0dfd7;
  cursor: pointer;
}

.button5:hover {
  background-color: #f8f8f8;
  padding: 8px;
  border-radius: 60px;
  color: #958d81;
  transition: 0.5s;
}

.button1:hover, .button2:hover, .button3:hover, .button4:hover {
  color: rgb(168, 149, 141);
  transition: 0.5s;
}


/*about*/

.about, .wrapper{
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.pic {
  max-width: 50vh;
  border-radius: 20px;
}

.container1 {
  font-size: 25px;
  border-radius: 20px;
  color: #2f2d27;
  background-color: #c9c2b1;
}


.container {
  font-size: 25px;
  border-radius: 20px;
  color: #2f2d27;
  background-image: url('Pics/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.container-tranding {
  font-size: 25px;
  border-radius: 20px;
  color: #2f2d27;
  background-color: #c9c2b1;
  padding: 50px;
}

.download-cv-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #958d81;
  color: white;
  text-decoration: none;
  border-radius: 7px;
  font-weight: bold;
  transition: 0.3s;
}

.download-cv-btn:hover {
  background-color: white;
  color: #958d81;
  
}


.family, .wrapper{
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

/* === SKILLS SECTION === */

.container-skills {
  font-size: 25px;
  border-radius: 20px;
  color: #2f2d27;
  background-color: #c9c2b1;
  padding: 30px 40px;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

.skills,
.wrapper-skills {
  display: block;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.skills-header {
  text-align: center;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 2rem;
  padding: 2rem 0;
  width: 100%;
}

.skill-card {
  background-image: url('Pics/background1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 6px 14px rgba(255, 255, 255, 0.1);
  transition: 0.3s ease;
  height: 20vh;
}

.skill-card:hover {
  transform: translateY(-5px);
}

.skill-card ion-icon {
  font-size: 3rem;
  color: #6a0dad;
  margin-bottom: 0.5rem;
}

.skill-card h3 {
  font-size: 1.3rem;
  color: #2f2d27;
  margin-bottom: 0.5rem;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background: #776c6c;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px 0;
}

.progress-bar .fill {
  height: 100%;
  background: #ffffff;
  transition: width 0.4s ease;
}

.skill-card p {
  font-weight: bold;
  color: #2f2d27;
  margin-top: 5px;
}

/*Family*/


.pic1 {
  max-width: 100%;
  border-radius: 20px;
}

.container-family {
  font-size: 25px;
  border-radius: 20px;
  color: #2f2d27;
  background-image: url('Pics/background1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px 40px;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

.family,
.wrapper-family {
  display: block;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.family-header {
  text-align: center;
}

.family-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 2rem;
  padding: 2rem 0;
  width: 100%;
}

.family-card {
  background-color: #f5e3e3;
  border-radius: 16px;
  padding: 1.5rem;
  text-align: justify;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  font-family: 'RN'; /* or 'RR' if that’s your preferred font */
}

.family-card:hover {
  transform: translateY(-5px);
}

.family-card h3 {
  font-size: 1.3rem;
  color: #2f2d27;
  margin-bottom: 0.5rem;
  text-align: center;
}

.family-card p {
  color: #2f2d27;
  margin-top: 5px;
  font-size: 1rem;
}



.section-divider {
  border: none;
  height: 2px;
  background-color: #006c3f33; 
  margin: 40px 0; 
}

#projects{
  background-color: #c9c2b1;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 20px;
}



#hamburger-nav{
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: #2f2d27;
  transition: all 0.5s ease-in-out;
}

.menu-links {
  list-style: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f5e3e3;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all .5s ease-in-out;
  text-decoration: none;
  border-radius: 10px;
}

.menu-links a{
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: #006c3f;
  text-decoration: none;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}

.menu-links.open{
  max-height: 1000px;
  
}

.hamburger-icon.open span:first-child{
  transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2){
  opacity:0;
}
.hamburger-icon.open span:last-child{
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child{
  transform: none;
}

.hamburger-icon span:first-child{
  opacity: 1;
}

.hamburger-icon span:first-child{
  transform: none;
}
  


::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

.container {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.container h3{
  font-size: 2vw;
  color: #2f2d27;
}

.container h1{
  font-size: 4vw;
  color: #2f2d27;
}

.container video{
  max-height: 500px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}


.text-center {
  text-align: center;
}

.section-heading {
  font-size: 3rem;
  color: var(--primary);
  padding: 2rem 0;
}

#tranding {
  padding: 4rem 0;
}


#tranding .tranding-slider {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}


.tranding-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

.tranding-slide .tranding-slide-img img {
  width: 37rem;
  height: 38rem;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

.tranding-slider-control .slider-arrow {
  background: #2f2d2760;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #f3cfb1;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(13, 68, 45, 0.164));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: #2f2d27;
}

#contact {
  text-align: center;
  padding: 40px 20px;
  background-color: #f5e3e3;
}

.contact-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.contact-icons {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.contact-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.contact-icon i {
  font-size: 2rem;
  margin-bottom: 8px;
}

.contact-icon:hover {
  color: #6a0dad; /* Adjust color to match your theme */
}

.contact-form {
  max-width: 500px;
  margin: 20px auto;
  text-align: left;
}

.contact-form label {
  font-size: 1rem;
  color: #333;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.contact-form button {
  width: 100%;
  padding: 10px;
  background-color: #6a0dad;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #540b95;
}

#formResponse {
  text-align: center;
  color: green;
  margin-top: 10px;
}

.hidden {
  display: none;
}

[data-reveal] {
  opacity: 0;
  transition: 0.75s ease;
}

[data-reveal="top"] { transform: translateY(-30px); }

[data-reveal="bottom"] { transform: translateY(30px); }

[data-reveal="left"] { transform: translateX(-30px); }

[data-reveal="right"] { transform: translateX(30px); }

[data-reveal].revealed {
  transform: translate(0);
  opacity: 1;
}


@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(400px); 
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-400px); 
  }
}

@keyframes slideRightReverse {
  from {
    transform: translateX(400px);
  }
  to {
    transform: translateX(0); 
  }
}

@keyframes slideLeftReverse {
  from {
    transform: translateX(-400px); 
  }
  to {
    transform: translateX(0); 
  }
}



@keyframes slideDown {
  from {
    transform: translateY(-100%); 
    opacity: 0; 
  }
  to {
    transform: translateY(0); 
    opacity: 1; 
  }
}


@keyframes zoom {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1); 
  }
}

/* Animation for Pic and Text4 */
@keyframes slideUpOnScroll {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


